
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}
.flex-container {
    height: 100%;
    width: 100%;
   
}
.item{
    width: 100%;
    /* height: 100px; */
    /* background: blue; */
    color: hsl(236, 13%, 42%);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.item ul {
    display: flex;
} 
.item ul li {
    margin-left:20px ;
    margin-right: 20px;

}


/* .item:nth-of-type(1){
    align-self: first baseline;
    order: 1;
    flex-basis: 200px; */
/* } */
/* .item:nth-of-type(2){
    /* align-self: start; */
    /* order: 1;
    flex-grow: 2;
} */ 
.footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-self: flex;
    display: flex;
}
.item4 {
    display: flex;
    align-items: flex-end;
}
.top {
    display: flex;
    margin: 10px;
    
}
.below{
    display: flex;
    margin: 10px;
    width: 800px;
    height: 100px;
    margin: 20px;
    justify-content: space-around;

}

#im1{
    width: 1000px;
    height: 500px;
    margin: 10px;
}
.item3{
    width: 300px;
    height:500px ;
    background-color: rgb(58, 59, 59);
    margin: 10px;
    align-self: center;
}
ul {
   list-style-type:none; 
}
.content{
    flex-direction: row;
    margin: 10px;
}
#hh {
    color: red;
}
#tt {
    color:hsl(35, 77%, 62%) ;
    margin: 10px;
}
#bb {
    background-color: black;
    color: white;
}
#x1 {
    color: white;
    margin: 10px;
}
#uu {
    margin: 10px;
}
#tw{
    margin: 10px;
    color:hsl(35, 77%, 62%) ;
}
#gg{
    color: hsl(233, 8%, 79%);
}